[submodule "src/--force"]
	path = src/--force
	url = https://github.com/IOsetting/FwLib_STC8.git
[submodule "src/FwLib_STC8"]
	path = src/FwLib_STC8
	url = https://github.com/IOsetting/FwLib_STC8.git
